.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/config/database.php
application/config/accounts.php

application/views/website/zh/undergraduate.dist.php

application/tests/_reports/*

tags

*.swp

composer.lock

public/themes/bootstrap/views/*

.buildpath
.project
.settings/

/nbproject/private/
/nbproject/*
/public/files/*
node_modules

chasefuture.sublime-project
chasefuture.sublime-workspace

/.idea/*

vendor/*
